@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  --primary-color: #3b82f6;
  --secondary-color: #2563eb;
  --dark-secondary-color: #0845a9;
  --background-color: #0f172a;
  --text-color: #f8fafc;
  --accent-color: #84b1f9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1.6;
  color: var(--text-color);
  background-color: var(--background-color);
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 20px;
}

header {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  width: 100%;
  z-index: 1000;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.75rem 0;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 1.5rem;
}

nav ul li a {
  color: var(--text-color);
  text-decoration: none;
  transition: 0.3s ease;
  background: transparent;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
}

nav ul li a:hover {
  background: var(--primary-color);
}

.instagram-icon {
  width: 24px;
  height: 24px;
  font-size: 24px;
  color: var(--text-color);
  transition: color 0.3s ease;
}

.instagram-icon svg path {
  width: 100%;
  height: 100%;
  fill: var(--text-color);
  transition: 0.3s;
}

.instagram-icon:hover svg path {
  fill: var(--primary-color);
}

.hero {
  padding-top: 10rem;
  padding-bottom: 5rem;
  display: flex;
  align-items: center;
  background-color: #121212;
  position: relative;
}

.hero .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 4rem;
  position: relative;
}

.hero-content {
  grid-column: 1 / 3;
  position: relative;
  z-index: 2;
  min-height: 30rem;
  display: flex;
  flex-direction: column;
}

.hero h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  line-height: 1.1;
  max-width: 75%;
}

.hero p {
  max-width: 60%;
  font-size: 1.25rem;
  line-height: 1.2;
  opacity: 0.8;
}

.hero .cta-button {
  margin-top: auto;
  align-self: flex-start;
}

.hero img {
  max-width: 100%;
  object-fit: cover;
  grid-column: 2 / 4;
  border-radius: 0.75rem;
  mask-image: linear-gradient(to right, transparent, black 60%);
  -webkit-mask-image: linear-gradient(to right, transparent, black 60%);
  position: absolute;
  right: 0;
  z-index: 1;
  height: 100%;
}

.cta-button {
  display: inline-block;
  font-family: "Epilogue", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  background: linear-gradient(
    135deg,
    var(--primary-color) 0%,
    var(--dark-secondary-color) 100%
  );
  color: var(--text-color);
  padding: 0.75rem 1.25rem;
  text-decoration: none;
  border-radius: 0.25rem;
  border: none;
  transition: all 0.3s ease;
  position: relative;
  background-size: 200% 100%;
  background-position: 0% 0%;
}

.cta-button:hover {
  background-position: 100% 0%;
  transform: translateY(-2px);
  box-shadow: 0 5px 15px rgba(59, 130, 246, 0.3);
}

.features {
  padding: 5rem 0;
  background-color: #151515;
}

.features h2 {
  font-size: 2rem;
  line-height: 1.1;
  text-align: center;
  font-weight: 400;
}

.features h2 span {
  color: var(--primary-color);
  font-weight: 700;
}

.feature-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px;
  align-items: center;
  justify-content: center;
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  text-align: center;
  padding: 20px;
  background-color: #000;
  color: #ccc;
  border-radius: 5px;
  transition: transform 0.3s ease;
  line-height: 1.1;
  height: 12.5rem;
}

.feature .icon-feature {
  display: flex;
  margin-bottom: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--primary-color);
  width: 60px;
  height: 60px;
  padding: 1.125rem;
  border-radius: 50%;
}

.feature:hover {
  transform: translateY(-5px);
}

.feature i {
  font-size: 48px;
  color: var(--primary-color);
  margin-bottom: 20px;
}

.feature h3 {
  font-size: 24px;
}

.methodology {
  padding: 7.5rem 0;
  background-color: #121212;
}

.methodology h2 {
  font-size: 2rem;
  line-height: 1.1;
  text-align: center;
  font-weight: 400;
}

.methodology h2 span {
  color: var(--primary-color);
  font-weight: 700;
}

.methodology .steps {
  margin-top: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.methodology .step {
  flex-basis: calc(20% - 20px);
  text-align: center;
  margin-bottom: 20px;
  cursor: pointer;
}

.methodology .step h3 {
  font-size: 1.125rem;
  margin-bottom: 10px;
  font-weight: 500;
}

.methodology .step h3 span {
  color: var(--accent-color);
}

.methodology .step-description {
  visibility: hidden;
  opacity: 0;
  height: auto;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
  height: 13rem;
  transition: visibility 0s linear 0.5s, opacity 0.5s ease;
  display: flex;
  align-items: center;
}

.methodology .step-description.active {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
  animation: fadeIn 0.5s ease forwards;
}

.pricing {
  padding: 5rem 0;

  .container {
    h2 {
      font-size: 2rem;
      line-height: 1.1;
      text-align: center;
      font-weight: 400;
    }
  }
}

.pricing-grid {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
}

.plan {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  padding: 30px;
  text-align: center;
  transition: transform 0.3s ease;
}

.plan:hover {
  transform: translateY(-5px);
}

.plan h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.plan .price {
  font-size: 1.5rem;
  color: var(--primary-color);
  margin-bottom: 20px;
}

.plan ul {
  list-style: none;
  margin-bottom: 30px;
}

.plan ul li {
  margin-bottom: 10px;
}

.featured {
  background-color: rgba(0, 123, 255, 0.2);
  transform: scale(1.05);
}

.featured:hover {
  transform: scale(1.05) translateY(-5px);
}

.cta {
  background-color: var(--accent-color);
  text-align: center;
  padding: 5rem 0;
  .cta-button {
    background: #151515;
  }
}

.cta h2 {
  color: var(--text-color);
}

.cta p {
  font-size: 20px;
  margin-bottom: 30px;
}

footer {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px 0;
  text-align: center;
}

footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 1130px) {
  .pricing-grid {
    grid-template-columns: repeat(2, 1fr);
    .featured {
      transform: scale(1);
    }
  }
}

@media (max-width: 970px) {
  .methodology .steps {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
  .feature-grid {
    grid-template-columns: repeat(2, 1fr);
    h2 {
      grid-column: span 2;
    }
  }
}

@media (max-width: 780px) {
  .hero {
    padding-bottom: 1rem;
  }
  .hero h1 {
    font-size: 1.825rem;
  }

  .hero p {
    font-size: 1.125rem;
  }
  .features {
    padding: 2.5rem 0;
  }
  .methodology {
    padding: 2.5rem 0;
  }
  .pricing {
    padding: 2.5rem 0;
  }
}

@media (max-width: 540px) {
  .methodology .steps {
    display: block;
  }
  .feature-grid {
    display: block;
    .feature {
      margin-top: 1rem;
    }
  }
  .pricing-grid {
    display: block;
    .plan {
      margin-top: 1rem;
    }
  }
  .hero {
    .hero-content {
      grid-column: span 3;
    }
    h1 {
      max-width: 100%;
    }
    p {
      max-width: 80%;
    }
    .cta-button {
      align-self: center;
    }
  }
}
